body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 300px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.display {
    background-color: #444;
    padding: 20px;
    font-size: 2em;
    text-align: right;
}

.display input {
    width: 100%;
    border: none;
    background: none;
    color: #fff;
    font-size: 1.5em;
    text-align: right;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.btn {
    background-color: #555;
    color: white;
    font-size: 1.2em;
    padding: 20px;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: #777;
}

.zero {
    grid-column: span 2;
}

.equal {
    background-color: #ff9500;
    color: #fff;
    grid-column: span 4;
}

.equal:hover {
    background-color: #e68a00;
}
